* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
  width: 100vw;
  height: 100vh;
}

#container {
  width: 90vw;
  height: 90vh;
  margin: auto;
}

/* ******************* PARTE SINISTRA ******************* */

#partesx {
  float: left;
  height: 90vh;
  background-color: white;
  border-right: 1px solid gray;
  overflow: auto;
}

#profiloutente {
  height: 10vh;
  background-color: lightgray;
}

#profiloutente img {
  width: 40px;
  border-radius: 50%;
  margin: 1.5vh 3vw;
}

.listaicone {
  float: right;
  margin: 2.5vh 2vw;
  font-size: 25px;
}

.listaicone .fas {
  margin: 0 0.3vw;
  color: gray;
}

#notifiche {
  height: 10vh;
  background-color: lightblue;
}

#notifiche .far {
  font-size: 5vh;
  margin: 2.5vh 1vw 2.5vh 2.5vw ;
  float: left;
  color: white;
}

#notifiche p {
  text-align: left;
  padding-top: 1vh;
  font-size: 13px;
}

#notifiche p:first-of-type {
  padding-top: 2vh;
  font-size: 16px;
}

#notifiche a {
  color: gray;
}

#cercautente {
  height: 7vh;
  border-bottom: 1px solid gray;
}

#cercautente .fas {
  font-size: 20px;
  color: gray;
  margin-left: 2vw;
}

#cercautente input {
  width: 20vw;
  height: 5vh;
  margin: 1vh 1.5vw;
  font-size: 20px;
  display: inline-block;
}

#listautenti {
  height: 70vh;
}

#listautenti img {
  width: 40px;
  border-radius: 50%;
  margin: 1.5vh 3vw;
}

.utente {
  height: 10vh;
  border-bottom: 1px solid gray;
}

/* ******************* PARTE DESTRA ******************* */

#partedx {
  float: right;
}

#interlocutore {
  height: 10vh;
  background-color: lightgray;
}

#interlocutore img {
  width: 40px;
  border-radius: 50%;
  margin: 1.5vh 3vw;
}

#schermochat {
  background: url("img/bgchat.png");
  height: 70vh;
  padding-top: 30px;
  overflow: auto;
}

#schermochatutente {
  float: right;
}

#schermochatcpu {
  float: left;
  margin-top: 3em;
}

.paroleutente {
  background-color: lightgreen;
  width: 150px;
  text-align: center;
  border-radius: 2em;
  margin: 3em 2em 0 2em;
  float: right;
  word-wrap: break-word;
}

.rispostacpu {
  background-color: lightgray;
  width: 150px;
  border-radius: 2em;
  margin: 5em 2em 0 2em;
  float: left;
}

#inputchat {
  background-color: lightgray;
  height: 10vh;
  text-align: center;
}

#inputchat input {
  width: 50vw;
  height: 8vh;
  margin-top: 1vh;
  font-size: 20px;
  border-radius: 1em;
}

#inputchat button {
  background-color: lightgray;
  border: none;
}

#inputchat .far {
font-size: 25px;
color: gray;
margin-left: 1vw;
}

.testodx {
  padding: 1em;
  text-align: right;
  line-height: 1.5em;
}

.testosx {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
